.page {
  position: absolute;
  top: 50%;
  left: 50%;

  text-align: center;

  transform: translate(-50%, -50%);
}

.image {
  display: inline-block;

  width: 125px;
  height: 183px;

  background: url('./image.jpg') no-repeat;
  background-size: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .image {
    background-image: url('./image@2x.jpg');
  }
}
