:root {
  --secondary-color: #e6e6e6;
}

.input {
  font-family: inherit;

  border: 1px solid var(--secondary-color);
}

.input::-webkit-input-placeholder {
  color: var(--secondary-color);
}

.input::-moz-placeholder {
  color: var(--secondary-color);
}

.input::input-placeholder {
  color: var(--secondary-color);
}
