.Page-container {
  position: absolute;
  top: 50%;
  left: 50%;

  text-align: center;

  transform: translate(-50%, -50%);
}

.Page-image {
  width: 125px;
  height: 183px;

  background: url(Page-image.jpg) no-repeat;
  background-size: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .Page-image {
    background-image: url(Page-image@2x.jpg);
  }
}
