.body {
  font-size: 14px;
  font-weight: 300;

  margin-bottom: 100px;

  color: #4d4d4d;
  background: #f5f5f5;
}

.page {
  width: 550px;
  margin: auto;
}

.title {
  font-size: 100px;
  font-weight: 100;
  line-height: 20px;

  margin-bottom: 50px;

  text-align: center;
  text-rendering: optimizeLegibility;

  color: rgba(175, 47, 47, 0.15);
}
