.input {
  composes: input from 'client/components/input/mods/theme/todo/styles.css';
  composes: input from 'client/components/input/mods/size/large/styles.css';

  width: 100%;
  padding-left: 60px;

  border: none;
}
