.item {
  position: relative;

  border-bottom: 1px solid #ededed;
}

.itemIsCompleted,
.itemIsEditing,
.itemIsHidden {
  composes: item;
}

.itemIsHidden {
  display: none;
}

.itemIsEditing {
  border-bottom: none;
}

.itemIsEditing .view {
  display: none;
}

.edit {
  display: none;
}

.itemIsEditing .edit {
  display: block;
}

.label {
  font-size: 24px;
  line-height: 29px;

  display: block;
  overflow: hidden;

  margin: 0 60px 0 45px;
  padding: 15px 0 15px 15px;

  white-space: pre;
  text-overflow: ellipsis;

  transition: color 0.4s;
}

.itemIsCompleted .label {
  text-decoration: line-through;

  color: #d9d9d9;
}

.checkbox {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 40px;
  margin: auto;
}

.input {
  composes: input from 'client/components/input/mods/theme/todos/styles.css';
  composes: input from 'client/components/input/mods/size/large/styles.css';

  width: 506px;
  margin-left: 44px;
  padding: 12px 15px;

  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}

.deleteButton {
  font-family: inherit;
  font-size: 30px;
  font-weight: inherit;

  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;

  display: none;

  width: 40px;
  height: 40px;
  margin: auto 0 11px;
  padding: 0;

  vertical-align: baseline;

  color: #cc9a9a;
  border: none;
  outline: none;
  background: transparent;
  transition: color 0.2s ease-out;
}

.deleteButton::after {
  content: '×';
}

.deleteButton:hover {
  color: #af5b5e;
}

.item:hover .deleteButton {
  display: block;
}
